body{
  .center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .left{
    text-align: left;
    margin-left: 0;
    margin-right: auto;
  }
  .right{
    text-align: right;
    margin-left: auto;
    margin-right: 0;
  }
}
